@model HomeVM
<main class="review-page">
    <section class="review-page-title">
        <div class="container">
            <div class="row ms-0 me-0">
                <div>
                    <h1>Reviews</h1>
                    <h5><a asp-controller="home" asp-action="index">Home</a> / Reviews</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="review-page-section">
        <div class="container">
            <div class="row g-4">
                @foreach (var item in Model.Reviews)
                {
                    <div class="col-lg-4">
                        <div class="review-card">
                            <div class="review-image">
                                <img src="~/Manage/Assets/Uploads/ReviewImage/@item.Image" alt="">
                            </div>
                            <div class="review-text">
                                <h5 class="review-title">
                                    @item.Name
                                </h5>
                                <span class="review-loc">
                                    @item.Adress
                                </span>
                                <div class="review-icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <p class="review-text-p">
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>