<main class="location-page">
    <section class="location-title">
        <div class="container-fluid">
            <div class="row">
                <div class="mt-4 ms-2 me-0">
                    <h1>Location</h1>
                    <h5><a asp-controller="home" asp-action="index">Home</a> / Location</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="location-map">
        <div class="map-design">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12010.094510613722!2d1.4505615520169857!3d41.188556339205974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2saz!4v1691527522944!5m2!1sen!2saz"
                        width="1226" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <section class="location-inputs">
        <div class="container">
            <div class="row ms-0 me-0">
                <div class="col-lg-8">
                    <div class="location-blok">
                        <div class="location-text">
                            <h1>About Himara Hotel</h1>
                            <span>Providing accommodation services since 1990</span>
                            <p>
                                Duis at lacus sodales, ornare nisl aliquam, luctus mauris. Mauris in libero nec quam
                                pellentesque efficitur eu id justo. Pellentesque velit quam, cursus id risus ut,
                                pretium vulputate est. Quisque pellentesque ante vel ex rhoncus feugiat. Quisque
                                dapibus sapien Pellentesque velit quam, Duis at lacus sodales, ornare nisl aliquam,
                                luctus mauris. Mauris in libero nec quam pellentesque efficitur eu id justo.cursus
                                id risus ut, pretium Pellentesque velit quam, cursus id risus ut, pretium vulputate
                                est.
                            </p>
                            <p>
                                Quisque pellentesque ante vel ex rhoncus feugiat. Quisque dapibus sapien
                                Pellentesque velit quam, Duis at lacus sodales, ornare nisl aliquam, luctus
                                mauris.Pellentesque velit quam, cursus id risus ut, pretium vulputate est. Quisque
                                pellentesque ante vel ex rhoncus feugiat. vulputate est.odio. In dictum posuere
                                urna, quis pulvinar elit eleifend ut. Sed lorem leo, auctor ac eleifend nec, dapibus
                                in metus. Mauris eget sagittis dui vehicula.Quisque dapibus sapien odio. In dictum
                                posuere urna, quis pulvinar elit eleifend ut. Sed lorem leo, auctor ac eleifend nec,
                                dapibus in metus. Mauris eget sagittis dui vehicula.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="how-find-us">
                        <div class="how-find-text">
                            <h1 class="how-find-title">How To Find Us</h1>
                            <p class="how-find-text">Get in touch with us</p>
                        </div>
                        <div class="contact-1-info">
                            <span class="d-flex">
                                <i class="fa-solid fa-map-pin icon-aft"></i>
                                <p>Lorem ipsum dolor, 25, Himara</p>
                            </span>
                        </div>
                        <div class="contact-1-info">
                            <span class="d-flex">
                                <i class="fa-solid fa-envelope icon-aft"></i>
                                <p>contact@hotelhimara.com</p>
                            </span>
                        </div>
                        <div class="contact-1-info">
                            <span class="d-flex">
                                <i class="fa-solid fa-phone-flip icon-aft"></i>
                                <p>+1 888 123 4567</p>
                            </span>
                        </div>
                        <div class="contact-1-info">
                            <span class="d-flex">
                                <i class="fa-solid fa-earth-oceania icon-aft"></i>
                                <p>www.hotelhimara.com</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>