@model BlogDetailViewModel

<main class="blogdetail-page">
    <section class="detail-pages">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="search-and-pages">
                        <h1>Search</h1>
                        <div class="search-post-button d-flex">
                            <input type="text" class="blog-detail-search" name="search-2">
                            <button type="submit" class="detail-search-button">
                                <h6>Search</h6>
                            </button>
                        </div>
                        <div class="row detail-recent-post">
                            <h1>Recent Posts</h1>
                            <a href="">10 + 1 Tasteful Cocktails</a>
                            <hr>
                            <a href="">Sightseeing Walks By Day</a>
                            <hr>
                            <a href="">Top 10 Amazing Beach Views</a>
                            <hr>
                            <a href="">Wedding Ceremony At Himara Hotel</a>
                            <hr>
                            <a href="">Breakfast Time At Himara Hotel</a>
                            <hr>
                            <a href="">Are There Any Events?</a>
                            <hr>
                            <a href="">10 Tips For Your Holiday Trip</a>
                            <hr>
                            <a href="">Enjoy Your Holidays In Himara Hotel</a>
                        </div>
                        <div class="blog-detail-image">
                            <img src="./Assets/Images/blog-himara-image.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="post-page-detail-avant">
                        <div class="post-details-images">
                            <img src="~/Manage/Assets/Uploads/BlogImage/@Model.Blog.Image" alt="">
                        </div>
                        <div class="post-page-details">
                            <h2 class="post-page-title">
                                <a href="">@Model.Blog.Name</a>
                            </h2>
                           @* <div class="post-page-meta">
                                <span class="author-icon">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author-icon">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author-icon">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>*@
                            <div class="post-page-content">
                                <p class="post-page-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea&nbsp; commodo consequat.&nbsp; Duis autem vel eum iriure dolor in
                                    hendrerit in
                                    vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                    facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                                    luptatum zzril delenit.
                                </p>
                            </div>
                            <div class="post-page-content-1">
                                <p class="post-page-text-1">
                                    @Model.Blog.Description
                                </p>
                            </div>
                            <div class="post-page-content-2">
                                <p class="post-page-text-2">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                    facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                                    luptatum zzril delenit dolore eu feugiat nulla facilisis at vero eros et
                                    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit…
                                </p>
                            </div>
                            <p class="perfect-gin-title">The Perfect Gin</p>
                            <div class="perfect-gin-detail">
                                <div class="perfect-gin-image">
                                    <img src="./Assets/Images/blog-details.jpg" alt="">
                                </div>
                                <div class="perfect-gin-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                                        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                        dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                                        dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                                        dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                                        feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option
                                        congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                                        Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum
                                        claritatem. Investigationes demonstraverunt lectores legere me lius quod ii
                                        legunt saepius. Claritas est etiam processus dynamicus, qui sequitur
                                        mutationem consuetudium lectorum. Mirum est notare quam littera gothica,
                                        quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis
                                        per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                                        videntur parum clari, fiant sollemnes in futurum.
                                    </p>
                                </div>
                            </div>
                            <p class="post-name-title-1">10 + 1 Tasteful Cocktails</p>
                            <div class="post-name-images row">
                                <div class="post-image-1 col-lg-3">
                                    <div onclick="blogclick(1)" class="aft-bef">
                                        <img src="./Assets/Images/post-name-image-1.jpg" alt="">
                                        <p>Image caption</p>
                                        <div class="modal blog-modal-1 d-none" role="dialog">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="modal-image col-lg-5">
                                                        <img src="./Assets/Images/post-name-image-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-image-1 col-lg-3">
                                    <div onclick="blogclick(2)" class="aft-bef">
                                        <img src="./Assets/Images/post-name-image-2.jpg" alt="">
                                        <p>Image caption</p>
                                        <div class="modal blog-modal-2 d-none" role="dialog">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="modal-image col-lg-5">
                                                        <img src="./Assets/Images/post-name-image-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-image-1 col-lg-3">
                                    <div onclick="blogclick(3)" class="aft-bef">
                                        <img src="./Assets/Images/post-name-image-3.jpg" alt="">
                                        <p>Image caption</p>
                                        <div class="modal blog-modal-3 d-none" role="dialog">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="modal-image col-lg-5">
                                                        <img src="./Assets/Images/post-name-image-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-image-1 col-lg-3">
                                    <div onclick="blogclick(4)" class="aft-bef">
                                        <img src="./Assets/Images/post-name-image-4.jpg" alt="">
                                        <p>Image caption</p>
                                        <div class="modal blog-modal-4 d-none" role="dialog">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="modal-image col-lg-5">
                                                        <img src="./Assets/Images/post-name-image-4.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="post-last-text">
                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                                quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus
                                legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui
                                sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica,
                                quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
                                seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur
                                parum clari, fiant sollemnes in futurum.
                            </p>
                        </div>
                        <div class="page-comments-list">
                            <div class="post-ul">
                                <div class="comment-avatar">
                                    <img src="./Assets/Images/comment-avatar.png" alt="">
                                </div>
                                <div class="comment-box">
                                    <div class="comment-header">
                                        <h4>Redi</h4>
                                        <a class="comment-reply-link" href="">Reply</a>
                                    </div>
                                    <div class="comment-info">
                                        <i class="fa-regular fa-clock"></i>
                                        <a href=""><span>October 17, 2022 at 12:30 pm</span></a>
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            Cras a velit vel enim dapibus rhoncus. Nullam porttitor elit non orci
                                            accumsan mattis. Proin vulputate pretium arcu. Phasellus dictum est eget
                                            metus euismod, vel maximus nisi viverra.
                                        </p>
                                    </div>
                                </div>
                                <div class="children">
                                    <div class="comment-avatar">
                                        <img src="./Assets/Images/comment-avatar.png" alt="">
                                    </div>
                                    <div class="comment-box">
                                        <div class="comment-header">
                                            <h4>Redi</h4>
                                            <a class="comment-reply-link" href="">Reply</a>
                                        </div>
                                        <div class="comment-info">
                                            <i class="fa-regular fa-clock"></i>
                                            <a href=""><span>October 17, 2022 at 12:30 pm</span></a>
                                        </div>
                                        <div class="comment-text">
                                            <p>
                                                Etiam porta rhoncus scelerisque. In et lobortis arcu, eu dapibus
                                                metus.
                                                Ut sodales fermentum nisi sit amet consectetur. Etiam gravida elit
                                                metus, vel facilisis elit pellentesque non. Vestibulum non magna
                                                risus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <div class="comment-respond">
                            <div class="comment-reply-title">
                                <div class="section-title">
                                    <h4 class="comment-title">Leave your comment</h4>
                                    <p class="section-subtitle">Join the discussion and tell us your opinion.</p>
                                </div>
                            </div>
                            <form method="post" id="commentform" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input id="author" class="form-control" name="author"
                                               placeholder="Your Name" type="text">
                                    </div>
                                    <div class="col-lg-4">
                                        <input id="email" class="form-control" name="email" placeholder="Your Email"
                                               type="text">
                                    </div>
                                    <div class="col-lg-4">
                                        <input id="url" class="form-control" name="url" placeholder="Your Website"
                                               type="text">
                                    </div>
                                </div>
                                <p class="comment-form-cookies">
                                    <input id="comment-cookies-consent" type="checkbox"
                                           class="comment-cookies-consent">
                                    <label for="comment-cookies-consent">
                                        Save my name, email, and website in this
                                        browser for the next time I comment.
                                    </label>
                                </p>
                                <div class="comment-form-comment">
                                    <textarea name="comment" class="form-control" id="comment" cols="40" rows="5"
                                              placeholder="Your Comment"></textarea>
                                </div>
                                <p class="form-submit">
                                    <input type="submit" name="submit" id="submit" class="btn"
                                           value="Submit your comment">
                                    <input type="hidden" name="comment-post-id" value="739" id="comment-post-id">
                                    <input type="hidden" name="comment-parent" value="0" id="comment-parent">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


