@model List<Blog>

<main class="blog-page">
    <section class="blog-title">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <h1>Blog</h1>
                    <h5><a asp-action="index" asp-controller="home">Home</a> / Blog</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-1.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a asp-action="detail" asp-controller="blog">10 + 1 Tasteful Cocktails</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-2.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a href="">Sightseeing Walks By Day</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-3.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a href="">Top 10 Amazing Beach Views</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-4.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a href="">Wedding Ceremony At Himara Hotel</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-5.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a href="">Breakfast Time At Himara Hotel</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-6.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a href="">Are There Any Events?</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-7.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a href="">10 Tips For Your Holiday Trip</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="post-page-avant">
                        <div class="post-images">
                            <img src="~/Assets/Images/blog-8.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2 class="post-title">
                                <a href="">Enjoy Your Holidays In Himara Hotel</a>
                            </h2>
                            <div class="post-meta">
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    <p>Author</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-comment"></i>
                                    <p>Comments</p>
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-folder"></i>
                                    <p>Food, Fun</p>
                                </span>
                            </div>
                            <div class="post-content">
                                <p class="post-text">
                                    Horem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    vulputate velit...
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="search-recent col-lg-3">
                    <div class="row recent-post">
                        <h1>Recent Posts</h1>
                        <a href="">10 + 1 Tasteful Cocktails</a>
                        <hr>
                        <a href="">Sightseeing Walks By Day</a>
                        <hr>
                        <a href="">Top 10 Amazing Beach Views</a>
                        <hr>
                        <a href="">Wedding Ceremony At Himara Hotel</a>
                        <hr>
                        <a href="">Breakfast Time At Himara Hotel</a>
                        <hr>
                        <a href="">Are There Any Events?</a>
                        <hr>
                        <a href="">10 Tips For Your Holiday Trip</a>
                        <hr>
                        <a href="">Enjoy Your Holidays In Himara Hotel</a>
                    </div>
                    <div class="blog-himara-image">
                        <img src="~/Assets/Images/blog-himara-image.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
