<main class="our-login">
    <section class="login-title">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <h1>Forgot Password</h1>
                    <h5><a href="./index.html">Home</a> / Forgot Password</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="login-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="login-page">
                        <div class="login-page-padd">
                            <h2>Forgot Password</h2>
                            <form method="post">
                                <div class="mt-3">
                                    <label for="Email">Enter your Email here ...</label>
                                    <input class="mb-0 form-control" name="Email"  id ="UserName">
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-outlined mt-3">Send Reset Password Link</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
