@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
<main class="our-login">
    <section class="login-title">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <h1>Reset Password</h1>
                    <h5><a href="./index.html">Home</a> / Reset Password</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="login-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="login-page">
                        <div class="login-page-padd">
                            <h2>Reset Password</h2>
                            <form method="post">
                                <div class="mt-4">
                                    <label asp-for="Password">Enter your password here ... </label>
                                    <input class="mb-0 form-control" asp-for="Password">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="mt-4">
                                    <label asp-for="ConfirmPassword">Enter your password here again ...</label>
                                    <input class="mb-0 form-control" asp-for="ConfirmPassword">
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <input type="hidden" name="Email" value="@TempData["Email"]" />
                                <input type="hidden" name="Token" value="@TempData["Token"]" />
                                <div class="mt-4">
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-outlined">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
