<main class="errorpage">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="errornum">
                    404
                    <span class="text-uppercase">Error</span>
                </div>
            </div>
            <div class="col-lg-7 mt-6">
                <div class="error-message">
                    <h1 class="error-title">Page Not Found!</h1>
                    <p>
                        We're sorry, but we can't find the page you were looking for. It's probably some thing we've
                        done wrong but now we know about it and we'll try to fix it
                    </p>
                    <div class="mt-4">
                        <a href="./index.html" class="btn btn-sm upper">Home Page</a>
                    </div>
                    <div class="mt-5">
                        <form class="search-form" action="./index.html" method="get">
                            <div class="form-group">
                                <input type="text" name="s" class="form-control" placeholder="Search">
                                <button class="btn" type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>