@model Staff
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h4 class="mt-4"> Staff Create </h4>
        </div>
        <div class="col-md-12">
            <form method="post" asp-action="create" enctype="multipart/form-data">
                <div class="form-group mt-2">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control mt-2" style="border:1px solid #fff">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control mt-2" style="border:1px solid #fff">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Position">Position</label>
                    <input asp-for="Position" class="form-control mt-2" style="border:1px solid #fff">
                    <span asp-validation-for="Position"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Title">Title(Where is the staff worked)</label>
                    <input asp-for="Title" class="form-control mt-2" style="border:1px solid #fff">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="ImageFile">File</label>
                    <input onchange="readURL(this);" asp-for="ImageFile" class="form-control mt-2" style="border:1px solid #fff">
                    <span asp-validation-for="ImageFile"></span>
                    <img width="100" height="100" id="blah" src="http://placehold.it/180" alt="your image" />
                </div>
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</div>